<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="6.0.0" targetFramework="net481" developmentDependency="true" />
  <package id="Fody" version="6.9.3" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.AI.DirectML" version="1.15.4" targetFramework="net481" />
  <package id="Microsoft.ML.OnnxRuntime.DirectML" version="1.24.3" targetFramework="net481" />
  <package id="Microsoft.ML.OnnxRuntime.Managed" version="1.24.3" targetFramework="net481" />
  <package id="OpenCvSharp4" version="4.13.0.20260308" targetFramework="net481" />
  <package id="OpenCvSharp4.runtime.win" version="4.13.0.20260302" targetFramework="net481" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net481" />
  <package id="System.Memory" version="4.6.3" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net481" />
</packages>